<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./Bootstrap.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        printerClass="PHPUnit_TextUI_ResultPrinter"

        processIsolation="false"
        stopOnError="true"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"

        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="false">
    <logging>
        <!--<log type="coverage-html" target="Coverage/report" lowUpperBound="35" highLowerBound="70"/>-->
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../</directory>
            <exclude>
                <!--<directory suffix=".php">../tests</directory>-->
                <directory>../vendor</directory>
                <directory>../tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>